nav{
    background-color: var(--cor-secundaria);
    width: 80%;
    height: 50px;
    border-radius: 100px;
    border: none;
    margin-top: 30px;
    position: sticky;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--sombra-branca);
    animation: surgeNavbar 1s ease-in-out forwards;
    
}
@keyframes surgeNavbar {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
#logo{
    font-size: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: 10px;
    color: var(--cor-texto2);
    
}
.nome{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--cor-texto2);
    margin: 0;
    margin-top: -23px;
    text-shadow: 0 0 4px #1F2937 0 0 12px #1F2937;
}

.aux{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.login{
    width: 80px;
    height: 20px;
    border-radius: 12px;
    height: 25px;
    border: none;
    background-color: var(--cor-promo);
    color: var(--cor-texto2);
    font-family: Poppins;
    user-select: none;

}

@media screen and (min-width:300px) and (max-width:450px) {
    nav{
        width: 100%;
        height: 45px;
        border-radius: 0px;
        margin-top: 0px;
        flex-wrap: wrap;
    }
    #logo{
        font-size: 28px;
        margin-left: 5px;
    }
    .nome{
        width: 100%;
        text-align: center;
        font-size: 22px;
        margin: 0;
        margin-top: -10px;
    }
    .aux{
        margin-right: 15px;
    }
    .login{
        margin-right: 0px;
        width: 55px;
        height: 22px;
        font-size: 12px;
        border-radius: 8px;
    }
}