@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('nav.css');
@import url('carrinho.css');
@import url('inicio.css');
@import url('itens.css');


:root{
    --cor-primaria: #1E293B;
    --cor-secundaria: #FFFFFF;
    --cor-marca:#1E3A8A;
    --cor-destaque: #3B82F6;
    --cor-promo: #F59E0B;
    --cor-texto:  #FFFFFF;
    --cor-texto2: #1F2937;
    --fundo-card: rgb(43, 42, 42);
    --sombra:0px 0px 12px 4px rgba(0,0, 0, 0.4);
    --sombra-branca-neon:0 0 20px 5px rgba(255, 255, 255, 0.8);
    --sombra-branca:0 4px 15px rgba(255, 255, 255, 0.3);
}
body{
    background-color:  var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-texto);
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
}
button{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
button:hover{
    transform: scale(1.1);
    filter: brightness(1.01);
}
button:active{
    transform: scale(0.95);
}
.tit{
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 3px #fff, 0 0 20px #fff
}
/* cores reservas
--cor-secundaria1 : #8082ec;
--cor-secundaria2: #0071E3;
--cor-cards : #1E293B;