@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --cor-primaria: #1E293B;
    --cor-secundaria: #FFFFFF;
    --cor-marca:#1E3A8A;
    --cor-destaque: #3B82F6;
    --cor-promo: #F59E0B;
    --cor-texto:  #FFFFFF;
    --cor-texto2: #1F2937;
    --fundo-card: rgb(43, 42, 42);
    --sombra:0px 0px 12px 4px rgba(0,0, 0, 0.4);
    --sombra-branca-neon:0 0 20px 5px rgba(255, 255, 255, 0.8);
    --sombra-branca:0 4px 15px rgba(255, 255, 255, 0.3);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    color: var(--cor-texto);
}
body{
    background-color: #1E293B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    background-color: var(--fundo-card);
    width: 700px;
    height: 550px;
    border-radius: 12px;
    box-shadow: var(--sombra-branca);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tit{
    margin-top: 4px;
    font-weight: bold;
}
.corpo{
    margin-top: 40px;
}
input[type="text"], input[type="password"]{
    background-color: var(--fundo-card);
    border: 1px solid var(--sombra-branca);
    width: 500px;
    height: 30px;
    border-radius: 12px;
    box-shadow: var(--sombra-branca);
    text-align: center;
    margin-top: 10px;
}
.subtit{
    margin-top: 30px;
}
.btn-olho{
    background-color: transparent;
    border: none;
    
}
#eye1{
    position: absolute;
    margin-top: -38px;
    margin-left: 470px;
}
#eye2{
    position: absolute;
    margin-top: -38px;
    margin-left: 470px;
}
#erro1{
    display: none;
    color: rgb(255, 0, 0);
    margin-top: 10px;
    position: absolute;
}
#erro2{
    display: none;
    color: rgb(255, 0, 0);
    margin-top: 10px;
    position: absolute;
}
.criarConta{
    background-color: var(--cor-promo);
    width: 250px;
    height: 40px;
    font-size: 25px;
    margin-top: 30px;
    border-radius: 12px;
    border: none;
    transition: transform 0.3s ease-in-out;
}
.criarConta:hover{
    transform: scale(1.05);
}